@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:1; }
}

@media screen and (max-width: 800px) {
    .language {
        position: absolute;
        right: 0;
        margin: 1.2em;
        z-index: 1;

        animation: fadeIn ease 0.5s;
    }

    .flag {
        box-sizing: border-box;
        width: 3em;
        height: 3em;

        border: solid grey .3em;
        border-radius: 50%;

        transform: scale(0.7);
        user-select: none;
    }

    .language:hover > .flag,
    .language:active > .flag {
        animation: borderFade ease 2s;
        border: solid white .3em;
    }

}